.tabs-field__content-wrap {
  padding-bottom: 0px;
}

.blocks-field__rows {
  margin-left: -15px;
  margin-right: -15px;
}

.group-field {
  border: 0px;
}

.nav-button {
  margin: 0 0 4px 0;
}

.tabs-field__content-wrap {
  padding-left: 25px;
  padding-right: 25px;
}

:root {
  --atomic-distinct-1: oklch(87.62% 0.240 148.61);
  --atomic-distinct-2: oklch(69.58% 0.160 55.54);
  --atomic-distinct-3: oklch(65.31% 0.135 242.69);
  --atomic-distinct-4: oklch(83.58% 0.169 91.77);
  --atomic-distinct-5: oklch(57.72% 0.152 315.32);
}