.tabs-field__content-wrap {
  padding-bottom: 0px;
}

.blocks-field__rows {
  margin-left: -15px;
  margin-right: -15px;
}

.group-field {
  border: 0px;
}

.nav-button {
  margin: 0 0 4px 0;
}

.tabs-field__content-wrap {
  padding-left: 25px;
  padding-right: 25px;
}
